<app-user></app-user>
  <div class="dashboard">

    <div class="registrar">
      <nav class="navbar sticky-top navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">Nuevo Usuario</a>
        </div>
      </nav>
  
      <form [formGroup]="formG">
        <div class="crear">
          <input class="form-control me-2" type="search" formControlName="nombre" placeholder="Nombre" required>
          <input class="form-control me-2" type="search" formControlName="username" placeholder="Username" required>
          <input class="form-control me-2" type="password" formControlName="contrasena" placeholder="Contraseña" required>
          <input class="form-control me-2" type="search" formControlName="fecha_nac" placeholder="Nacimiento" required>
          <input class="form-control me-2" type="search" formControlName="rol" placeholder="Rol" required>
          <button type="button" class="btn btn-dark" (click) = "guardar()">Guardar</button>
        </div>
      </form>
    </div>
  
    
    <nav class="navbar sticky-top navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand">Inventario de Usuarios</a>
      </div>
    </nav>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
     
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">NOMBRE</th>
          <th scope="col">USERNAME</th>
          <th scope="col">NACIMIENTO</th>
          <th scope="col">ROL</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let usuario of usuarioList">
          <td>{{usuario.id_usuario}}</td>
          <td>{{usuario.nombre}}</td>
          <td>{{usuario.username}}</td>
          <td>{{usuario.fecha_nac}}</td>
          <td>{{usuario.rol}}</td>
          <td><button class="btn btn-dark">EDITAR</button></td>
          <td><button class="btn btn-dark" (click)="eliminar(usuario)">ELIMINAR</button></td>
      </tr>
      </tbody>
    </table>
  </div>
