<div class="formulario">
    <form action="">
        <h3>LOG IN</h3>
        <div class="campos">
            <div class="campo">
                <p>Usuario</p>
                <input type="text" name="" id="inp" required>
            </div>
            <div class="campo">
                <p>Contraseña</p>
                <input type="password" name="" id="inp" required>
            </div>
            <button id="inp" class="btn btn-dark" (click)="ingresar()">INGRESAR AL SISTEMA</button>
        </div>
    </form>
</div>
