<!-- CDN de estilos para los iconos -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Estilo DropDown Icon -->
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
<nav>>
  <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Integrantes</a></li>
      <li><a href="#">Servicios <i class="icon ion-md-arrow-dropdown"></i></a>
          <ul>
              <li><a href="#">Diseño web</a></li>
              <li><a href="#">Desarrollo web</a></li>
              <li><a href="#">Aplicaciones nativas</a></li>
          </ul>
      </li>
      <li><a href="#">Contacto</a></li>
  </ul>
</nav>