<app-user></app-user>
<div class="dashboard">

    <div class="registrar">
        <nav class="navbar sticky-top navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Nuevo Producto</a>
            </div>
          </nav>
        <div class="crear">
            <input class="form-control me-2" type="search" placeholder="Código">
        <input class="form-control me-2" type="search" placeholder="Nombre">
        <input class="form-control me-2" type="search" placeholder="Precio">
        <input class="form-control me-2" type="search" placeholder="Grms">
        <input class="form-control me-2" type="search" placeholder="Existencia">
        <input class="form-control me-2" type="search" placeholder="Vence">
        <button type="button" class="btn btn-secondary">Guardar</button>

        </div>
        
    </div>
    <nav class="navbar sticky-top navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Sticky top</a>
        </div>
      </nav>
     <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
</div> 

